#red {
    background-color: red;
    position:absolute; left: 0px; top: 0px; bottom: 199px; width: 300px;
}
#blue {
    background-color: blue;
    position:absolute; left: 200px; top: 200px; bottom: 0px; width: 300px;
}
#green {
    background-color: green;
    position:absolute; left: 100px; top: 100px; bottom: 125px; width: 300px;
}
#main {
    position: relative;
    width: 499px;
    height: 499px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
