#left {
    background-color: rgb(134, 123, 110);
    position: fixed; left: 1%; top: 10px; bottom: 87%; width:48%;
}
#right {
    background-color: rgb(134, 123, 110);
    position: fixed; right: 1%; top: 10px; bottom: 87%; width:48%;
}
#center {
    background-color: rgb(185, 214, 194);
    position: absolute; right: 1%; top: 100px; left: 1%; bottom:50%;
}
#triple1 {
    background-color: rgb(90, 142, 147);
    position: fixed; top: 51%; left: 1%; bottom:20%; width: 31%;
}
#triple2 {
    background-color: rgb(90, 142, 147);
    position: fixed; top: 51%; left: 34.5%; bottom:20%; width: 31%;
}
#triple3 {
    background-color: rgb(90, 142, 147);
    position: fixed; top: 51%; right: 1%; bottom:20%; width: 31%;
}
#quatro1 {
    background-color: rgb(232, 125, 104);
    position: fixed; top: 81%; left: 1%; bottom:1%; width: 23%;
}
#quatro2 {
    background-color: rgb(232, 125, 104);
    position: fixed; top: 81%; left: 26%; bottom:1%; width: 23%;
}
#quatro3 {
    background-color:  rgb(232, 125, 104);
    position: fixed; top: 81%; right: 1%; bottom:1%; width: 23%;
}
#quatro4 {
    background-color:  rgb(232, 125, 104);
    position: fixed; top: 81%; right: 26%; bottom:1%; width: 23%;
}